body {
    background-image: url(https://mitchellfauxleathers.com/sf-images/default-source/grand-slam---billiards/billiards-obsidian-vinyl-material.jpg?sfvrsn=c168ef25_4);
    background-repeat: repeat;
}

#top {
    background-color: antiquewhite;

}
a {
    float: right;
    width: 75px;
}
a:hover {
    color: burlywood;

#middle-bit {
    width: 960px;
    background-color: #ffffff;
    border: 15px green;
    align-content: center;
    margin: 186.5px;
    padding: 30px;
}